.content-only-block {
    padding-bottom: 70px;
    padding-top: 70px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.content {
    font-weight: 100;
    text-align: center;
}

.title {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
}